asn1crypto==0.24.0
backports.functools-lru-cache==1.5
basemap==1.0.7
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.4.16
cffi==1.11.5
cfscrape==1.9.5
chardet==3.0.4
cryptography==2.4.2
cycler==0.10.0
decorator==4.4.0
enum34==1.1.6
functools32==3.2.3.post2
furl==1.0.1
iata-codes==0.0.5
idna==2.6
ipaddress==1.0.22
kiwisolver==1.0.1
matplotlib==2.2.4
networkx==2.2
numpy==1.14.2
orderedmultidict==0.7.11
pandas==0.22.0
pycparser==2.19
pyOpenSSL==18.0.0
pyparsing==2.4.0
python-dateutil==2.7.2
pytz==2018.4
requests==2.18.4
six==1.11.0
subprocess32==3.5.3
urllib3==1.22
